svg.button-table {
  width: 5vh;
  height: 5vh;
  fill: "#202024";

  .delete {
    &:hover {
      color: red;
    }
  }
  .edit {
    &:hover {
      color: green;
    }
  }
}

.table-header {
  background-color: #e1e1e6;
}
